@import 'scss/variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.chess-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .frame {
    padding: $chess-board-frame-thickness;
    background: $chess-board-frame-background;
    color: $chess-board-frame-font-color;
    font-size: $chess-board-frame-font-size;
    border-radius: $chess-board-frame-border-radius;
    position: relative;

    .labels {
      position: absolute;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      > span {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.top {
        left: 0;
        right: 0;
        top: 0;
        height: $chess-board-frame-thickness;
        padding: 0 $chess-board-frame-thickness;

        > span {
          transform: scale(-1);
        }
      }

      &.right {
        right: 0;
        top: 0;
        bottom: 0;
        width: $chess-board-frame-thickness;
        flex-direction: column;
        padding: $chess-board-frame-thickness 0;

        > span {
          transform: scale(-1);
        }
      }

      &.left {
        left: 0;
        top: 0;
        bottom: 0;
        width: $chess-board-frame-thickness;
        flex-direction: column;
        padding: $chess-board-frame-thickness 0;
      }

      &.bottom {
        left: 0;
        right: 0;
        bottom: 0;
        height: $chess-board-frame-thickness;
        padding: 0 $chess-board-frame-thickness;
      }
    }
  }

  .board {
    width: calc(#{$chess-cell-size} * 8);
    height: calc(#{$chess-cell-size} * 8);
    display: flex;
    flex-wrap: wrap;
    border: $chess-board-border;
    border-radius: $chess-board-border-radius;
    overflow: hidden;
  }

  .cell {
    width: $chess-cell-size;
    height: $chess-cell-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.black {
      background-color: $chess-cell-black-color;
    }

    &.white {
      background-color: $chess-cell-white-color;
    }

    &.available {
      background-color: $chess-cell-available-figure-color;
      box-shadow: inset 0 0 1px black;

      .figure.white {
        svg {
          stroke-width: 0;
        }
      }
    }

    &.selected {
      background-color: $chess-cell-selected-color;

      .figure.white {
        svg {
          stroke-width: 0;
        }
      }
    }
  
    .available-point {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      background-color: $chess-cell-available-color;
    }

    .figure {
      width: $chess-cell-size * 0.65;
      height: $chess-cell-size * 0.65;
      position: relative;

      &.black {
        svg {
          fill: $chess-figure-black-color;
        }
      }

      &.white {
        svg {
          fill: $chess-figure-white-color;
          stroke: $chess-figure-black-color;
          stroke-width: 5px;
        }
      }
    }
  }
}
