@import 'scss/variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $body--background-color;
}

.chess {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .frame {
    padding: $frame-thickness;
    background: $frame-background;
    color: $frame-font-color;
    font-size: $frame-font-size;
    border-radius: $frame-border-radius;
    border: $frame-border;
    position: relative;

    .labels {
      position: absolute;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      > span {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.top {
        left: 0;
        right: 0;
        top: 0;
        height: $frame-thickness;
        padding: 0 $frame-thickness;

        > span {
          transform: scale(-1);
        }
      }

      &.right {
        right: 0;
        top: 0;
        bottom: 0;
        width: $frame-thickness;
        flex-direction: column;
        padding: $frame-thickness 0;

        > span {
          transform: scale(-1);
        }
      }

      &.left {
        left: 0;
        top: 0;
        bottom: 0;
        width: $frame-thickness;
        flex-direction: column;
        padding: $frame-thickness 0;
      }

      &.bottom {
        left: 0;
        right: 0;
        bottom: 0;
        height: $frame-thickness;
        padding: 0 $frame-thickness;
      }
    }
  }

  .board {
    width: calc(#{$cell-size} * 8);
    height: calc(#{$cell-size} * 8);
    display: flex;
    flex-wrap: wrap;
    border: $chessboard--border;
    border-radius: $chessboard--border-radius;
    overflow: hidden;
  }

  .cell {
    width: $cell-size;
    height: $cell-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.black {
      background-color: $cell-black--background-color;
    }

    &.white {
      background-color: $cell-white--background-color;
    }

    &.available {
      background-color: $cell-available-piece--background-color;
      box-shadow: inset 0 0 1px black;
    }

    &.selected {
      background-color: $cell-selected--background-color;
    }
  
    .available-point {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      background-color: $cell-available--background-color;
    }

    .piece {
      width: $cell-size * 0.65;
      height: $cell-size * 0.65;
      position: relative;

      &.black {
        svg {
          fill: $piece-black--background-color;
        }
      }

      &.white {
        svg {
          fill: $piece-white--background-color;
          stroke: $piece-black--background-color;
          stroke-width: 15px;
        }
      }
    }
  }
}
