$body--background-color: #202a35;

$cell-black--background-color: #7d8697;
$cell-white--background-color: #e5e8ed;
$cell-selected--background-color: #83c3ff;
$cell-available--background-color: rgba(0,0,0, 0.15);
$cell-available-piece--background-color: #ffc083;

$chessboard--border: 0;
$chessboard--border-radius: 8px;
$piece-white--background-color: white;
$piece-black--background-color: #191a1e;

$frame-thickness: 15px;
$frame-background: #2d3640;
$frame-font-color: #e5e8ed;
$frame-font-size: .7rem;
$frame-border-radius: 15px;
$frame-border: 1px solid rgba(255, 255, 255, .03);