$chess-cell-size: 5vw;
$chess-cell-black-color: #7d8697;
$chess-cell-white-color: #e5e8ed;
$chess-cell-selected-color: #d73bdd;
$chess-cell-available-color: rgba(0,0,0, 0.15);
$chess-cell-available-piece-color: #ff6a57;

$chess-board-border: 0;
$chess-piece-white-color: white;
$chess-piece-black-color: #191a1e;
$chess-board-border-radius: 8px;
$chess-board-frame-thickness: 20px;
$chess-board-frame-background: #2d2d2d;
$chess-board-frame-font-color: #e5e8ed;
$chess-board-frame-font-size: .8rem;
$chess-board-frame-border-radius: 15px;